@using MvcOnlineTicaretOtomasyon.Models.Sınıflar;
@model List <Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>KATEGORİ</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>GÖRSEL</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UrunId</td>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.Kategori.KategoryAd</td>
            <td>@u.AlisFiyat</td>
            <td>@u.SatisFiyat</td>
            <td>@u.urunGorsel</td>
        </tr>
    }
</table>
<a href="/Urun/yeniUrun/" class="btn btn-info">YENİ ÜRÜN</a>

